@media (width > 768px) {
  .container {
    max-width: 768px;
    margin-inline: auto;
  }
}

@media (width > 820px) {
  .container {
    max-width: 820px;
    margin-inline: auto;
  }
}

@media (width > 1024px) {
  .container {
    max-width: 1024px;
    margin-inline: auto;
  }
}

@media (width > 1280px) {
  .container {
    max-width: 1280px;
    margin-inline: auto;
  }
}

@media (width > 1440px) {
  .container {
    max-width: 1440px;
    margin-inline: auto;
  }
}
