@font-face {
  font-family: "Commissioner";
  src:
    url("//fonts/Commissioner/Commissioner-Light.woff") format("woff"),
    url("//fonts/Commissioner/Commissioner-Light.woff2") format("woff2");

  unicode-range: U+65-90, U+97-122;
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Commissioner";
  src:
    url("//fonts/Commissioner/Commissioner-Regular.woff") format("woff"),
    url("//fonts/Commissioner/Commissioner-Regular.woff2") format("woff2");

  unicode-range: U+65-90, U+97-122;
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Commissioner";
  src:
    url("//fonts/Commissioner/Commissioner-Medium.woff") format("woff"),
    url("//fonts/Commissioner/Commissioner-Medium.woff2") format("woff2");

  unicode-range: U+65-90, U+97-122;
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Commissioner";
  src:
    url("//fonts/Commissioner/Commissioner-SemiBold.woff") format("woff"),
    url("//fonts/Commissioner/Commissioner-SemiBold.woff2") format("woff2");

  unicode-range: U+65-90, U+97-122;
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Commissioner";
  src:
    url("//fonts/Commissioner/Commissioner-Bold.woff") format("woff"),
    url("//fonts/Commissioner/Commissioner-Bold.woff2") format("woff2");

  unicode-range: U+65-90, U+97-122;
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

/* MONSERRAT */
@font-face {
  font-family: "Montserrat";
  src:
    url("//fonts/Montserrat/Montserrat-Regular.woff") format("woff"),
    url("//fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");

  unicode-range: U+65-90, U+97-122;
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src:
    url("//fonts/Montserrat/Montserrat-Medium.woff") format("woff"),
    url("//fonts/Montserrat/Montserrat-Medium.woff2") format("woff2");

  unicode-range: U+65-90, U+97-122;
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src:
    url("//fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"),
    url("//fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2");

  unicode-range: U+65-90, U+97-122;
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
