@import "tailwindcss";

@theme {
    --color-primary: rgba(29, 43, 79, 1);
    --color-secondary: rgba(14, 99, 244, 1);
    --color-foreground-secondary: rgba(119, 128, 149, 1);
    --color-foreground: rgba(247, 247, 247, 1);
    --color-accent: rgba(84, 94, 137, 1);
    --color-accent-secondary: rgb(231, 237, 253);
    --background-color-initial: initial;

    --radius-default: 10px;

    --text-md: 1rem;

    --spacing-100: calc(var(--spacing) * 100);

    --breakpoint-xs: 360px;
}