@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
body {
  scrollbar-width: none;
}

/* For IE and old Edge */
body {
  -ms-overflow-style: none;
}
